// Styling for the portfolio section
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: $white;
    background: fade-out($primary, .1);
    @include transition-all;
    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      .project-category,
      .project-name {
        padding: 0 15px;
        @include sans-serif-font;
      }
      .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
  }
  @media (min-width: 768px) {
    .portfolio-box-caption {
      .portfolio-box-caption-content {
        .project-category {
          font-size: 16px;
        }
        .project-name {
          font-size: 22px;
        }
      }
    }
  }
}
.item-post{
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 1px;
  position: relative;
}

.item-imagem{
  width: 300px;
  height: 300px;
  display: inline-block;
  background-size: cover;
  background-position: center center;
}

.desc-post{
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: rgba(0,0,0,0.5);  
  color: #fff;

  
}
.desc-post .legenda-item{
  padding-top: 10px;
  line-height: 15px;
}
.valor-box{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  color:#fff;
  background-color: #3498db;

}
.de{
  font-size: 14px;
  text-decoration:line-through;
}
.box-postagem{
  max-width: 500px;
  margin-top: 10px;
  display: inline-block;
}
.imagem-postagem{
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px -1px #000;
}

.legenda-imagem{
  padding: 5px;
  width: calc(100% - 10px);
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postagens-home{
  display: inline-block;
  width: 100%;
}