Options -Indexes
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .shtml .sh .cgi 
<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.php3>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.php4>
    Order Deny,Allow
    Deny from all
</Files>