APP_ENV=development
APP_PORT=8080
APP_URL=http://localhost:8080/

DB_DATABASE=admin_feira
DB_USERNAME=feira
DB_PASSWORD=feira
DB_ROOT_PASSWORD=feira_root
DB_PORT_FORWARD=3307
PHPMYADMIN_PORT=8081

MAILJET_API_KEY=
MAILJET_SECRET=
GEMINI_API_KEY=
OPENAI_API_KEY=
CRON_TOKEN=
